<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">
    <!--更新用户数据-->
    <update id="update" parameterType="org.example.pojo.User">
        update tb_user
        <set>
            <if test="nickname != null">
                <!--设置标识符来判断需不需要加逗号,保证语法正确-->
                nickname = #{nickname},
            </if>
            <if test="name != null">
                <!--若前面有更新则加上逗号-->
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="age == null">
                age = null,
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>